* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  list-style-position: inside;
}

html {
}

body {
}

#map ul {
  clear: both;
}

#map li {
  padding: 10px 0;
  float: left;
}


#map a, #map span {
  padding: 10px 30px;
  background-color: #DDDDDD;
}

.pages {
  clear: both;
  border: 1px solid #DDDDDD;
  width: 600px;
  height: 400px;
  overflow: hidden;
  display: none;
}

.container {
  position: relative;
  height: 100%;
  display: none;
}

.first {
  position: absolute;
  width: 600px;
  background-color: #DDDDDD;
}

.first:nth-child(2) { 
  left: 600px;
}

.first h2 {
  height: 400px;
  line-height: 400px;
  text-align: center;
}

.second {
  width: 600px;
  height: 400px;
  background-color: #555555;;
  position: relative;
}

.second h3 {
  height: 400px;
  line-height: 400px;
  text-align: center;
}

.second .left {
  top: -400px;
  left: -600px;
}

.second .right {
  top: -400px;
  left: 600px;
}

.third {
  width: 600px;
  height: 400px;
  position: absolute;
  background-color: red;
}