* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  list-style-position: inside;
}

body {
  color: #333333;
}

#content {
  margin: 0 auto;
  width: 960px;
}

#navigation {
  margin: 30px 0 0 20px;
  width: 150px;
  float: left;
}

.map {
  width: 602px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.map .inner {
  border: 1px solid #AAAAAA;
  padding: 10px;
}

.map a, .map span {
  margin: 0 5px 10px 5px;
  padding: 10px 0 10px 0;
  background-color: #EEEEEE;
  display: inline-block;
  box-shadow: 3px 3px 3px #555555;
}

.map a {
  width: 80px;
}

.map span {
  width: 150px;
}

.map ul {
  clear: both;
  position: relative;
}

.map .top {
  position: relative;
}

.map li {
  display: inline-block;
  vertical-align: top;
}

.map .left {
  left: 60px;
  position: relative;
}

.map .left a {
  margin-left: 0;
}

.map .last {
  margin-right: 60px;
}

.map .bottom {
  margin-bottom: 0;
}

.frame {
  margin: 0 auto;
  border: 1px solid #AAAAAA;  
  width: 600px;
  height: 400px;
  position: relative;
}

.overlay {
  position: relative;
  height: 100%;
  z-index: 999;
  background-color: #FFFFFF;
}

.overlay .bar {
  margin-top: -5px;
  height: 10px;
  position: absolute;
  top: 50%;  
  background-color: #333333;
}

.pages {
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.navigation {
  width: 900px;
  height: 30px;
  position: absolute;
  top: -30px;
  background-color: #333333;
  z-index: 1;
}

.navigation p {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.container {
  position: relative;
  height: 100%;
}

.container p {
  height: 340px;
  padding-top: 60px;
  text-align: center;
  font-size: 0;
}

.first {
  position: absolute;
  width: 600px;
}

.second {
  width: 600px;
  height: 400px;
  position: relative;
}
