* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

h1 {
  position: relative;
  z-index: 999;
}

#navigation {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 999;
  background-color: #FFFFFF;
}

#navigation .main {
}

#pages {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.parent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.parent ul {
  margin-left: -300px;
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  list-style-position: inside;
  display: none;
}

.parent li {
  display: inline-block;
  width: 200px;
  font-size: 150%;
  text-align: center;
}

#page1 {
  background-color: #AAAAAA;
}

#page2 {
  background-color: #EEEEEE;
}

.child {
  padding: 20px;
  width: 800px;
  position: absolute;
  top: 50px;
  left: 300px;
  background-color: #FFFFFF;
  display: none;
}

.child h2 {
  margin-bottom: 1.5em;
}

.child p {
  margin-bottom: 1em;
  line-height: 1.5;
}